.wrap2 {
  grid-area: two;
  width: 300px;
  height: 300px;
  align-self: flex-end;

  & .title-cube {
    width: 250px;
    height: 250px;
    left: 5%;
    top: -25%;

    @media (min-width: 768px) {
      left: 25%;
    }
  }
}
