@import "maintry";

.main-page {
  width: 100vw;
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: 50% 50%;
  }

  & .main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    & h2 {
      margin: 10px 0;
      transition: 0.5s;
    }

    & .project-links {
      margin-bottom: 10px;

      & a {
        margin: 10px;
      }
    }

    & .main-slider {
      position: absolute;
      z-index: 2;
      background: rgba(0, 0, 0, 0.05);
      width: 300%;
      height: 300%;
      transform: translatey(0);
      transition: 1s;
    }

    & .images {
      position: relative;
      margin: auto;
      height: 100%;
      width: 100%;
      max-width: 450px;
      margin-bottom: 30px;
      transition: 1s;

      & #laptop {
        width: 95%;
        max-height: 300px;
        max-width: 480px;
      }

      & #tablet {
        position: absolute;
        max-height: 200px;
        min-height: 150px;
        right: 20px;
        top: 90px;
        height: 68%;
      }

      & #phone {
        position: absolute;
        max-height: 180px;
        min-height: 130px;
        height: 58%;

        left: 12px;
        top: 90px;
        transform: translateY(25px);
      }
    }
  }

  & .main-wrap:hover {
    & .main-slider {
      transform: translatey(300%);
    }

    & .images,
    & h2 {
      transform: scale(1.05);
    }
  }

  & .stack {
    padding: 0 5px 60px;

    & svg,
    & img {
      height: 30px;
    }

    & .applicationData,
    & .utilities,
    & .devops,
    & .businessTools {
      & div {
        padding: 5px;
        width: 75px;
        height: 60px;
      }

      & p {
        font-size: 0.8rem;
      }
    }

    & h2,
    & h3 {
      margin: 4px;
    }
  }
}
