.background-img {
  position: fixed;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../assets/wallpaper3.jpg") no-repeat;
  background-size: cover;
}

.main-container {
  display: grid;
  grid-template-areas:
    "... ... ..."
    "... two three"
    "one four five";
  justify-content: center;
  align-items: baseline;
  transform: rotate(45deg);
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 60px 0 0 20px;
}

.wrap1,
.wrap2,
.wrap3,
.wrap4,
.wrap5 {
  margin: 10px;
  border-radius: 20px;
  position: relative;
  color: white;

  & .photo-wrap {
    overflow: hidden;
    border-radius: 20px;
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    & #photo1 {
      position: absolute;
      transform: rotate(-45deg) scale(0.8);
      height: 520px;
      transition: 0.5s;
      opacity: 0.5;
    }

    & #photo2,
    & div {
      transform: rotate(-45deg) scale(0.9);
      transition: 0.5s;
    }
  }

  & .photo-wrap:hover {
    & #photo1,
    & #photo2,
    & div {
      opacity: 1;
      transform: rotate(-45deg) scale(1);
    }
  }

  & .title-cube {
    margin: 15px;
    background: rgba(190, 3, 3, 0.6);
    position: absolute;
    border-radius: 20px;
    z-index: -2;

    & .links {
      margin: 5px 0 0 20px;
      & a {
        margin-right: 10px;
      }
    }
  }

  & h2 {
    font-size: 1.4rem;
    text-align: left;
    margin: 5px 20px 0;
  }
}

.wrap1 {
  align-self: stretch;
  grid-area: one;
  width: 200px;
  height: 200px;
  display: flex;
  background: rgb(15, 35, 42);

  & .title-cube {
    width: 200px;
    height: 200px;
    left: -30%;
    top: 15%;
    display: flex;
    align-items: flex-end;

    & h2 {
      margin-bottom: 10px;
    }
  }

  & h1 {
    transform: rotate(-45deg);
    margin: auto;
    font-family: "Kaushan Script", cursive;
  }
}

.wrap2 {
  grid-area: two;
  width: 300px;
  height: 300px;
  align-self: flex-end;

  & .title-cube {
    width: 250px;
    height: 250px;
    left: 25%;
    top: -30%;
  }
}

.wrap3 {
  grid-area: three;
  width: 300px;
  height: 300px;
  align-self: flex-end;

  & .title-cube {
    width: 250px;
    height: 250px;
    left: 35%;
    top: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    transform: rotate(90deg);

    & .links {
      margin: 8px 10px 0;
    }

    & h2 {
      margin: 0 20px 0;
      transform: rotate(180deg);
    }
  }
}

.wrap4 {
  grid-area: four;
  width: 300px;
  height: 300px;

  & .title-cube {
    width: 250px;
    height: 250px;
    left: -20%;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    & .links {
      margin: 5px 20px 5px;
    }
  }
}

.wrap5 {
  grid-area: five;
  width: 200px;
  height: 200px;
  background: black;
  display: flex;
  align-self: stretch;

  background: rgb(15, 35, 42);

  & .title-cube {
    width: 200px;
    height: 200px;
    left: 10%;
    top: 20%;
    display: flex;
    align-items: flex-end;

    & h2 {
      margin-bottom: 15px;
    }
  }
}
