.main-projects {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 70px 0;

  @media (min-width: 768px) {
    padding: 70px 30px;
    grid-template-columns: 48% 48%;

    & div:nth-child(3) {
      grid-column: -1/ 1;
      max-height: 100%;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: 30% 30% 30%;
    padding: 70px 0;

    & div:nth-child(3) {
      grid-column: -1/ -2;
      max-height: 550px;
    }
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  width: 92vw;
  overflow: hidden;
  margin: 20px 3vw;
  position: relative;
  padding: 10px 10px 20px;
  max-height: 100%;
  transition: 0.5s;

  @media (min-width: 768px) {
    margin: 20px auto;
    width: 100%;
    max-height: 550px;
  }

  & #info-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

    & h2 {
      margin-right: 10px;
    }
  }

  #project-subtitle {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  & h3,
  & .project-links,
  & .technologies {
    width: 100%;
    text-align: center;
    margin: 5px;

    & svg,
    & img {
      transition: 0.5s;
    }

    & svg:hover,
    & img:hover {
      z-index: 3;
      transform: scale(1.2);
    }
  }

  & .project-links {
    & a {
      margin: 0 10px;
    }
  }

  & .technologies {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

    & img {
      width: 1.4rem;
    }
  }

  & .images {
    position: relative;
    padding: 0 0 20px;
    margin: 0 20px;
    width: 100%;

    & #laptop {
      width: 90%;
    }

    & #tablet {
      position: absolute;
      height: 65%;
      right: 12px;
      bottom: 5px;
    }

    & #phone {
      position: absolute;
      height: 55%;
      left: 12px;
      bottom: 5px;
    }
  }

  & p {
    width: 87vw;
    margin: 10px auto;
    text-align: justify;
    background: -webkit-linear-gradient(#000 50%, rgb(220, 220, 220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
