.profile {
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: -50px auto 20px;
  max-width: 1000px;

  & p,
  & a {
    opacity: 0.8;
    font-style: italic;
  }

  & a {
    color: lightblue;
  }

  @media (min-width: 768px) {
    margin: auto;
    padding: 0 0 30px;
    display: flex;
  }

  @media (min-width: 1024px) {
    display: flex;
    padding: 150px 0 40px;
  }
}
