header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom-left-radius: 50%;
  background: rgba(187, 212, 255, 0.7);
  transition: 0.5s;
  backdrop-filter: blur(2px);
  z-index: 10;

  & a {
    opacity: 0.6;
  }

  & .header-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & a {
      font-size: 1.1rem;
    }
  }

  & .header-name {
    font-size: 0.9rem;
    font-family: "Kaushan Script", cursive;
    margin-bottom: 10px;

    & h1,
    & h5 {
      text-align: right;
    }
  }
}
