footer {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: auto;

  & div {
    display: inline;
  }

  & span {
    font-size: 0.9rem;
    text-align: center;
  }

  @media (min-width: 786px) {
    max-width: 1100px;

    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;

    & span {
      font-size: 1rem;
      text-align: right;
    }
  }
}
